*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.App{
  text-align: center;
  background-image: url('./sea.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

}
/* .App{
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%)
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
} */
